---
import Layout from '../layouts/layout.astro';
import Nav from '../components/nav.astro';
import CardSkills from '../components/cardSkills.astro';
import JsonProjects from '../json/projects.json';
import CardProjects from '../components/cardProjects.astro';
import CardKey from '../components/cardKey.astro';
import CardHardSkills from '../components/cardHardSkills.astro';
import Footer from '../components/footer.astro';
---

<Layout pagesTitle="Dayerlin Bustamante">
	<main class="grid gap-6 self-start">
		<Nav/>
		<CardSkills/>
		<Footer/>
	</main>
	<aside class="grid gap-6 self-start">
		<CardHardSkills/>
		<CardKey/>
	</aside>
	<aside class="grid gap-4 self-start">
		{
			JsonProjects.map(JsonProjects => {
				return (
					<CardProjects
						title={JsonProjects.title}
						url={JsonProjects.url}
						description={JsonProjects.description}
						img={JsonProjects.img}
						date={JsonProjects.date}
					/>
				)
			})
		}
	</aside>
</Layout>